.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Steem Conversation Accelerator/FileContentIndex/c064b0ac-2952-4da6-a44b-a5040add92f6.vsidx
.vs/Steem Conversation Accelerator/v17/.wsuo
.vscode/easycode.ignore
Steem Conversation Accelerator.code-workspace
