:root {
  --altBgColor: #89CFF0; // Baby Blue
}
body {
    font-family: Arial, sans-serif;
    padding: 20px;
}
h1 {
    font-size: 1.5rem;
}
ul {
    list-style-type: none;
    padding-left: 0;
/*    width: 100%;*/
}

li {
    margin-bottom: 10px;
}

.post-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 80%;  /* Set width to 50% of the parent container */
    max-width: 80vw;  /* Ensure it doesn't exceed 50% of the viewport width */
    box-sizing: border-box;  /* Include padding and border in the width calculation */
    /* Remove margin-left: auto and margin-right: auto */
}

.post-box:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
}

.indented-content {
    margin-left: 20px;
    width: 80%;
}
